<div class="d-flex flex-column h-100">
  <app-people-list style="flex: 1 1 200px;overflow: auto;"></app-people-list>
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#peoplecompModal"
    [routerLink]="['/peoples/addPeople']"
  >
    Add people
  </button>

  <div id="peoplecompModal" class="modal modal-fullscreen-lg-down" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button
            id="closebutton"
            #closebutton
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <router-outlet (deactivate)="onSubRootDeactivate()"></router-outlet>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
