<div class="container">
  <app-event-list></app-event-list>
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#eventcompModal"
    [routerLink]="['/events/addEvent']"
  >
    Add event
  </button>

  <div id="eventcompModal" class="modal modal-fullscreen-lg-down" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title em-header-pl"></h2>
          <button
            id="closebutton"
            #closebutton
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <router-outlet (deactivate)="onSubRootDeactivate()" (activate)="onSubRootActivate()"></router-outlet>
        </div>
        <div class="modal-footer em-footer-pl"></div>
      </div>
    </div>
  </div>
</div>
