<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li *ngIf="this.isAuth === true" routerLinkActive="active"><a routerLink="events">Events</a></li>
      <li *ngIf="this.isAuth === true" routerLinkActive="active"><a routerLink="addEvent">Add Events</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="this.isAuth !== true" routerLinkActive="active"><a routerLink="signup">Signup</a></li>
      <li *ngIf="this.isAuth !== true" routerLinkActive="active"><a routerLink="signin">Signin</a></li>
      <li *ngIf="this.isAuth === true"><a (click)="Signout()" style="cursor: pointer;">Signout</a></li>
    </ul>
  </div>
</nav>
