<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h2>Add an event</h2>
    <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="form-group form-label">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label for="name" class="form-label">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control form-text"
            formControlName="description"
          />
        </div>
        <div class="form-group mt-3">
          <mat-form-field appearance="fill" id="datePicker" textContent="Date">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                placeholder="Start date"
                id="from"
                name="to"
                formControlName="from"
              />
              <input
                matEndDate
                placeholder="End date"
                id="to"
                name="to"
                formControlName="to"
              />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
      <button
        class="btn btn-primary mt-3"
        type="submit"
        [disabled]="this.addEventForm?.invalid"
      >
        Add
      </button>
    </form>
  </div>
</div>
