<div class="row">
  <div class="col-sm">
    <h2 class="em-header">Add an event</h2>
    <form [formGroup]="addEventForm">
      <div>
        <div class="form-floating mt-3">
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            formControlName="name"
          />
          <label for="name" class="form-label">Name</label>
        </div>
        <div class="form-floating mt-3">
          <textarea
            rows="5"
            type="text"
            id="description"
            name="description"
            class="form-control form-text"
            formControlName="description"
            style="height: 250px"
          ></textarea>
          <label for="name" class="form-label">Description</label>
        </div>
        <div class="form-group mt-3">
          <mat-form-field appearance="fill" id="datePicker" textContent="Date">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                placeholder="Start date"
                id="from"
                name="from"
                formControlName="from"
              />
              <input
                matEndDate
                placeholder="End date"
                id="to"
                name="to"
                formControlName="to"
              />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="em-button-container">
      <button
        class="btn btn-primary mt-3"
        type="button"
        [disabled]="this.addEventForm?.invalid"
        (click)="onSubmit()"
      >
        Add
      </button>
    </div>
  </div>
</div>
