/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

.cdk-overlay-connected-position-bounding-box,
.cdk-global-overlay-wrapper,
.cdk-overlay-container{
z-index: 99999 !important;
}

div.em-footer-pl{}//class placeholder for footer.
p.em-header-pl{}//class placeholder for header.
div.em-button-container{} //container for buttons
p.em-header{} //container for header
