<li
  class="list-group-item  mt-1"
  [attr.data-people]="people"
  [attr.data-isselected]="this.people.isSelected"
  (click)="selectPeople.click()"
>
  <div class="d-flex w-100 flex-row">
    <div
          style="width: 5px;"
          [ngClass]="this.people.isSelected && this.hasSelection ? 'em-selected' : ''"
        ></div>
    <div class="p-2 d-flex w-100 flex-column">
      <div class="d-flex w-100 justify-content-start">
                <input
          #selectPeople
          title="Select this people"
          type="checkbox"
          [(ngModel)]="this.people.isSelected"
          style="display: none;"
          (input)="select(selectPeople.checked)"
          [checked]="isSelected"
        />
        <h3 class="mb-1">{{ people?.firstName }} {{ people?.lastName }}</h3>
      </div>
      <p>email: {{ this.people?.email }}</p>
      <small
        >Age: {{ this.today.diff(this.people?.momentDate, "years") }} years
        old</small
      >
    </div>
  </div>
</li>
