<div class="row">
  <div class="col-xl">
    <h2>Add a people</h2>
    <form [formGroup]="addPeopleForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="form-floating mt-3">
          <input
            type="text"
            id="firstname"
            name="firstname"
            class="form-control"
            formControlName="firstname"
            placeholder="your firstname"
          />
          <label for="firstname" class="form-label">Firstname</label>
        </div>
        <div class="form-floating mt-3">
          <input
            type="text"
            id="lastname"
            name="lastname"
            class="form-control"
            formControlName="lastname"
            placeholder="your lastname"
          />
          <label for="lastname" class="form-label">Lastname</label>
        </div>
        <div class="form-floating mt-3">
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            formControlName="email"
            placeholder="your email"
          />
          <label for="email" class="form-label">Email</label>
        </div>
        <div class="form-group mt-3">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              id="birthday"
              name="birthday"
              formControlName="birthday"
              placeholder="your birthday"
              [max]="maxDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-floating mt-3">
          <app-people-gender [(gender)]="this.gender"></app-people-gender>
        </div>
        <div class="form-floating mt-3">
          <app-people-fooddiet [(foodDiet)]="this.diet"></app-people-fooddiet>
        </div>
      </div>
      <button
        class="btn btn-primary mt-3"
        type="submit"
        [disabled]="this.addPeopleForm?.invalid"
      >
        Add
      </button>
    </form>
  </div>
</div>
